* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
body {
  background-color: #f6f7fa;
}
.titulo {
  color: white;
  text-shadow: red;
  text-align: center;
  font-size: 6rem;
  margin-top: 250px;
}
.cuerpo{
  background-color: black;
}
footer{
  background-color: aliceblue;
  padding-bottom: 0;
}
header, .alert{
  z-index: 100;
}
.hide{
  display: none;
}
.remover{
 display: none;
} 
footer{
  background: #f6f7fa;
}
.contenedor_carrito{
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  background: rgb(58, 75, 100);
  align-items: flex-start;
  border-top: solid 20px #f6f7fa;
  border-right: solid 30% #f6f7fa;
  border-bottom: solid 7px #f6f7fa;
  border-left: solid 30% #f6f7fa;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  margin: 15px 15px 15px 15px; 
 align-items: center;

}
.carrito_total{
  margin: 15px 15px 15px 15px;
  border-top: solid 5px rgb(58, 75, 100);
  border-right: solid 5px rgb(58, 75, 100);
  border-bottom: solid 5px rgb(58, 75, 100);
  border-left: solid 5px rgb(58, 75, 100);
  color: rgb(6, 155, 224);
  font-size: 50px;
  text-align: center;
}
.img{
 
  width: 200px;
  height: 200px;
}

.letra_carrito{
  color: rgb(6, 155, 224);
  text-align: center;
  font-size: 50px;
  
}
.contenedor_carrito2{
  font-size: 25px;
  text-align: center;
  color: rgb(31, 169, 255);
}
.mango{
  display: grid;
  padding-top: 20px;
  background-color: rgb(58, 75, 100);
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: rgb(31, 169, 255);
}
.fin_compra{
  display: flex;
  font-family: cursive;
  font-size: 38px;
  color: rgb(6, 155, 224);
  margin-right: 285px;
}
.fincompra2{
   display: grid;
   text-align: center;
   font-size: 50px;
   font-family: cursive;
   color: rgb(31, 169, 255)
}