body {
  background-color: black;
}
.titulo {
  color: white;
  text-shadow: red;
  text-align: center;
  font-size: 6rem;
  margin-top: 250px;
}
.cuerpo{
  background-color: black;
}
footer{
  background-color: aliceblue;
  padding-bottom: 0;
}